# Hugging Face Trainer checkpoints
Transformer/results/

# Trained model
Transformer/saved_summary_model

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

API's/.env

GAN/img_align_celeba/